@model IEnumerable<ProjectKMITL.Models.OrderModel>;

@{
    ViewData["Title"] = "ฝากซื้อ";
    List<OrderListModel> list = new List<OrderListModel>();
}

<div class="container-fluid">
    <div class="previous" style="cursor:pointer" onclick="location.href='@Url.Action("Profile", "Account")'">
        <h3 class="d-inline-block">&#8249 Profile</h3>
    </div>
    @if (ViewBag.listnum == 0)
    {
        <div class="container text-center">
            <h1 class="">ไม่มีรายการที่ฝากซื้อ</h1>
        </div>
    }
    @foreach (var Order in Model)
        {
            @if (Order.OrderList != null)
            {
                list = new List<OrderListModel>();
                string[] order = Order.OrderList.Split(',');
                string[] count = Order.OrderCount.Split(',');
                for (int i = 0; i < order.Length; i++)
                {
                    OrderListModel item = new OrderListModel();
                    item.name = order[i];
                    item.count = int.Parse(count[i]);
                    list.Add(item);
                }
              
            }
        <form id="@Order.Id" asp-controller="Account" asp-action="Detail" method="post">
                <input type="hidden" name="Id" value="@Order.Id" />
                <div class="mb-3" onclick="submitDiv(@Order.Id)">
                    <div class="orderitem border border-dark px-3" style="border-radius: 25px;">
                        <div class="mx-5 p-3">
                            <div class="row border-bottom border-dark">
                                <div class="col-3 d-flex align-items-center justify-content-center">
                                <img class="rounded-circle mt-5" width="150" src="~/Images/Avatar.png" alt="Profile">
                                </div>
                                <div class="col-6 my-5">
                                    <h3>@Order.UsernameDepository @Order.FirstnameDepository @Order.LastnameDepository</h3>
                                    <h4 class="">@Order.Restaurant</h4>
                                    <div class="btn btn-warning" style="cursor:default "> @Order.Cafeteria </div>
                                </div>
                                <div class="col-3 d-flex justify-content-around align-items-center">
                                    @if (Order.UsernameDepository == "")
                                    {
                                        <button class="btn btn-success">อยู่รอระหว่างดำเนินรายการ</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-success">กำลังนำส่ง</button>
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center">
                                    <table class="table table-borderless">
                                        <thread>
                                            <tr>
                                                <th class="text-center">รายการอาหาร</th>
                                                <th class="text-start">จำนวน</th>
                                            </tr>
                                        </thread>
                                        @foreach (var o in list)
                                        {
                                            <tbody>
                                                <tr>
                                                    <th class="text-center">@o.name</th>
                                                    <th class="text-start ps-4">@o.count</th>
                                                </tr>
                                            </tbody>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        }

</div>

<script>
    function submitDiv(id) {

        document.getElementById(id).submit();

         }
</script>


